/* Header.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* TopNav.css */

/* 제목을 포함한 컨테이너 스타일링 */
#topNavDiv {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f8f9fa;
}

#titleDiv {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

#loginDiv {
  display: flex;
  align-items: center;
}

#loginDiv a {
  text-decoration: none;
  color: #333;
  margin-left: 1rem;
}

#loginDiv a:hover {
  color: #007bff;
}

/* 제목 스타일링 */
#titleDiv h1 {
  font-size: 2.5rem; /* 폰트 크기 */
  color: #333; /* 텍스트 색상 */
  margin: 0; /* 기본 여백 제거 */
}

/* 제목 링크 스타일링 */
#titleDiv h1 a {
  text-decoration: none; /* 링크의 기본 밑줄 제거 */
  color: #333; /* 링크 색상 */
  transition: color 0.3s ease; /* 색상 전환 효과 */
}

/* 링크 호버 시 색상 변경 */
#titleDiv h1 a:hover {
  color: #007bff; /* 호버 시 색상 */
}

/* 네비게이션 바 스타일 */
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

/* 네비게이션 리스트 스타일 */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  position: relative;
  margin: 0 2rem; /* 수평 마진 설정 */
}

.nav-span {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.nav-span:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* 드롭다운 메뉴 기본 스타일 */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* 드롭다운 메뉴 항목 스타일 */
.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

/* 드롭다운 메뉴를 활성화할 때 스타일 */
nav li:hover .dropdown-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
